* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;/*controla el ancho de los contenedores y la maquetacion*/
  
}

/*Style header*/
nav {  
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;/*centrar verticalmente*/
}
header{
    box-shadow: 0 0 8px rgb(216, 192, 192);
    height: 65px;
    width: 100%;
    font-family: "mulish";
    background:#ffffff;
    position: fixed;
    top: 0;
    z-index: 6;
}

header h1 {
    color: black;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
}
nav ul li a {
   color:#0d0d0e;
    font-size: 1rem;
    padding: .8rem 1rem;  
    
}
.btn-feedback{
    cursor: pointer;
    color: #e4f1ed;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 50px;
    background:#2937f0;  
    height: 40px;
    margin-top: 20px;
    font-family: "mulish";
}
nav ul li a:hover{
   color: #2937f0;
}

.btn-feedback:hover{
    color: #e4f1ed;
    background: #0d0d0e;
}
/*main*/

.container-principal{
    width: 80%;   
    display: flex;
    margin: 20px 10%;
}
/*cONTENEDOR IZQUIERDO*/
.container-left{
    width: 50%;   
    background: #ffff;
    margin-top: 30px;
    padding: 30px;
    
}

.container-left > h2{
   font-family: "newsreader";
   font-size: 80px;
   padding: 40px 5px 15px 0;
}

.container-left > p{
    font-family: "mulish";
    font-size: 20px;
    padding: 20px 5px 15px 0;
    color: rgb(142, 160, 160);
    justify-content: justify;
 }

 /*CONTENEDOR DERECHO*/

 .container-right{
     position: relative;
 }
 .cell > img {
     width: 220px;
     height: auto;
     position: absolute;
     top: 70px;
     left:180px ;
     z-index: 3; /*para que tome la posicion por encima del video*/
 }

 .video > video {
    width: 200px;
    height: auto;
    position: absolute;
    top: 70px;
    left:190px;  
    border-radius: 24px;
    z-index: 2;
 }

 .circle{
    width: 350px;
    height: 350px;
    background: linear-gradient(315deg, #fa34dc 0, #d132d1 25%, #a42ec1 50%, #7829ae 75%, #4e259d 100%);
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left:120px;  
    z-index:1;  
}

.x-1 {
    color: #2937f0;
     font-family: 'Dongle', sans-serif;
     font-size: 30px;
     position: absolute;
     top: 420px;
     left: 110px;
}

.point{
    width: 10px;
    height: 10px;
    background-color:#2937f0;
    border-radius: 50%;
    position: absolute;
    left: 500px;
    top: 150px;
}

/*Pag-2*/

/*fondo*/
.background-image > img{
    margin-top: 30px;
    width: 100%;
    height: 590px;
    z-index: 1;
}

.page-2{
    position: relative;
    margin-top: 80px;
}

.container-ahead{
    
 position: absolute;
 top:220px; 
 width: 650px;
 height: auto;
 margin-left: 70px;
}

.container-ahead > p{
    font-size: 80px;
    font-family: newsreader;
    color: #ffffff;
    position: absolute;
    z-index: 3;
    
}

.container-ahead > a{
    font-family: mulish;   
    color: #ffffff;
    background: transparent;
    border: 1px solid white;
    position: absolute;
    z-index: 3;
    top: 245px;
    

}

.transparent{
    position: absolute;
    background: rgba(12, 0, 0, 0.5);
    width: 100%;
    height: 590px;
    top: 31px;   
}


/*PAGINA 3*/

.container-principal-3{
    display: flex;
    width: 100%;
    padding-top: 80px;
}

/*CONTENEDOR DERECHO*/
.container-right-3{
    width: 90%;   
   
    display: flex; 
    flex-wrap: wrap;    
    text-align: center;
    margin-top: 30px;
    margin-right: 90px;

    
     
}
.container-right-3 > div{

 height: 200px;
 width: 40%;
 margin-left: 50px;
margin-top: 30px;
}

.container-right-3 > div > h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: kanit;
}

.container-right-3 > div > p{
    font-family: mulish;
    color: #56565f;
}

/*CONTENEDOR IZQUIERDO*/
.container-left-3{
    width: 50%;   
   
    position: relative;
}

/*CELULAR PAG-3*/
.cell-3 > img{
    width: 220px;
    height: auto;
    position: absolute;
    top: 50px;
    left:240px ;
    z-index: 3;
}
.video-3 > video {
    width: 200px;
    height: auto;
    position: absolute;
    top: 50px;
    left:250px;  
    border-radius: 24px;
    z-index: 2;
 }
 .circle-3{
    width: 250px;
    height: 250px;
    background: linear-gradient(315deg, #fa34dc 0, #d132d1 25%, #a42ec1 50%, #7829ae 75%, #4e259d 100%);
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left:150px;  
    z-index:1;  
}

.x-3{
    color: #2937f0;
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 50px;
    left: 480px; 
}

.point-3{
    width: 13px;
    height: 13px;
    background-color:#2937f0;
    border-radius: 50%;
    position: absolute;
    left: 195px;
    top: 430px;
}

footer{
    width: 100%;
    height: 130px;
    background-color: #0d0d0e;
    margin-top: 100px;
    color: rgb(151, 145, 145);
    text-align: center;
    font-family: mulish;
    font-size: 13px;
    padding-top: 3%;
}